body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.region {
  fill: rgb(153, 153, 153);
  stroke: #FFFFFF;
  stroke-width: 1px;
}

#tooltip {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #FFFFFF;
  padding: 5px;
  border: 1px solid;
  border-radius: 4px;
}
